h1 {
    color:purple;
    text-align: center;
}

body {
    background-color: lightyellow;
    font-family: sans-serif;
    
}

img {
    display: block;
    width: 30%;
    margin: auto;
    border: 5px solid black;
}